---
properties:
  acceptance_tests:
    admin_user: admin
    skip_ssl_validation: true
    backend: diego
    include_apps: true
    include_backend_compatibility: true
    include_detect: true
    include_diego_docker: true
    include_diego_ssh: true
    include_internet_dependent: true
    include_persistent_app: true
    include_route_services: true
    include_routing: true
    include_security_groups: true
    include_services: true
    include_sso: true
    include_tasks: true
    include_v3: true
    # Disabled set for debugging
    # include_apps: false
    # include_backend_compatibility: false
    # include_container_networking: false
    # include_detect: false
    # include_diego_docker: false
    # include_diego_ssh: false
    # include_internet_dependent: false
    # include_persistent_app: true
    # include_privileged_container_support: false
    # include_route_services: false
    # include_routing: false
    # include_security_groups: false
    # include_services: true
    # include_sso: true
    # include_tasks: false
    # include_v3: false

    # timeouts
    default_timeout:   600 # 10 minutes
    cf_push_timeout:   600 # 10 minutes
    long_curl_timeout: 600 # 10 minutes
  acceptance_tests_brain:
    user: admin
    org: test-brain-org
    space: test-brain-space
  autoscaler:
    cf:
      client_id: app_autoscaler
      grant_type: client_credentials
      skip_ssl_validation: true
    api_server:
      service_offering_enabled: false
      require_consul: false
      port: 7100
      publicPort: 7106
      health:
        port: 9101
      eventgenerator:
        port: 7105
      metrics_collector:
        port: 7103
      scheduler:
        port: 7102
      scaling_engine:
        port: 7104
      db_config:
        max_connections: 5
        min_connections: 1
        idle_timeout: 60000
    appmetrics_db:
      databases:
        - name: "autoscaler"
          tag: "default"
      db_scheme: postgres
    eventgenerator:
      require_consul: false
      server:
        port: 7105
      health:
        port: 9105
      metricscollector:
        host: localhost
        port: 7103
      scaling_engine:
        port: 7104
    instancemetrics_db:
      databases:
        - name: "autoscaler"
          tag: "default"
      db_scheme: postgres
    lock_db:
      databases:
        - name: "autoscaler"
          tag: "default"
      db_scheme: postgres
    metricscollector:
      require_consul: false
      server:
        port: 7103
      health:
        port: 9103
    policy_db:
      databases:
        - name: "autoscaler"
          tag: "default"
      db_scheme: postgres
    operator:
      require_consul: false
      health:
        port: 9108
      scaling_engine:
        host: localhost
        port: 7104
      scheduler:
        host: localhost
        port: 7102
    scalingengine:
      require_consul: false
      server:
        port: 7104
      health:
        port: 9104
    scalingengine_db:
      databases:
        - name: "autoscaler"
          tag: "default"
      db_scheme: postgres
    scheduler:
      require_consul: false
      port: 7102
      health:
        port: 9102
      scaling_engine:
        host: localhost
        port: 7104
    scheduler_db:
      databases:
        - name: "autoscaler"
          tag: "default"
      db_scheme: postgres
  bits-service:
    active_signing_key:
      key_id: key1
    app_stash:
      blobstore_type: webdav
      directory_key: cc-resources
      webdav_config:
        username: blobstore_user
    buildpacks:
      blobstore_type: webdav
      directory_key: cc-buildpacks
      webdav_config:
        username: blobstore_user
    droplets:
      blobstore_type: webdav
      directory_key: cc-droplets
      webdav_config:
        username: blobstore_user
    enable_registry: true
    packages:
      blobstore_type: webdav
      directory_key: cc-packages
      webdav_config:
        username: blobstore_user
    signing_users: []
  capi:
    tps:
      watcher:
        skip_consul_lock: true
  cc:
    buildpacks:
      blobstore_type: webdav
      webdav_config:
        username: 'blobstore_user'
    core_file_pattern: false # This ensures the value gets to the BOSH templater, which will see this as off
    default_running_security_groups:
    - public_networks
    - dns
    default_staging_security_groups:
    - public_networks
    - dns
    diego:
      lifecycle_bundles:
        'buildpack/sle15':      "buildpack_app_lifecycle/buildpack_app_lifecycle.tgz"
        'buildpack/sle12':      "buildpack_app_lifecycle/buildpack_app_lifecycle.tgz"
        'buildpack/cflinuxfs3': "buildpack_app_lifecycle/buildpack_app_lifecycle.tgz"
        docker:                 "docker_app_lifecycle/docker_app_lifecycle.tgz"
    droplets:
      blobstore_type: webdav
      webdav_config:
        username: 'blobstore_user'
    install_buildpacks:
    - name: staticfile_buildpack
      package: staticfile-buildpack-sle15
    - name: staticfile_buildpack
      package: staticfile-buildpack-cflinuxfs3
    - name: nginx_buildpack
      package: nginx-buildpack-sle15
    - name: nginx_buildpack
      package: nginx-buildpack-cflinuxfs3
    - name: java_buildpack
      package: java-buildpack-sle15
    - name: java_buildpack
      package: java-buildpack-cflinuxfs3
    - name: ruby_buildpack
      package: ruby-buildpack-sle15
    - name: ruby_buildpack
      package: ruby-buildpack-cflinuxfs3
    - name: nodejs_buildpack
      package: nodejs-buildpack-sle15
    - name: nodejs_buildpack
      package: nodejs-buildpack-cflinuxfs3
    - name: go_buildpack
      package: go-buildpack-sle15
    - name: go_buildpack
      package: go-buildpack-cflinuxfs3
    - name: python_buildpack
      package: python-buildpack-sle15
    - name: python_buildpack
      package: python-buildpack-cflinuxfs3
    - name: php_buildpack
      package: php-buildpack-sle15
    - name: php_buildpack
      package: php-buildpack-cflinuxfs3
    - name: binary_buildpack
      package: binary-buildpack-sle15
    - name: binary_buildpack
      package: binary-buildpack-cflinuxfs3
    - name: dotnet-core_buildpack
      package: dotnet-core-buildpack-sle15
    - name: dotnet-core_buildpack
      package: dotnet-core-buildpack-cflinuxfs3
    jobs:
      generic:
        number_of_workers: null
    log_db_queries: true
    newrelic:
      environment_name: null
      transaction_tracer:
        enabled: true
        record_sql: obfuscated
    packages:
      blobstore_type: webdav
      webdav_config:
        username: 'blobstore_user'
    quota_definitions:
      default:
        memory_limit: 10240
        non_basic_services_allowed: true
        total_routes: 1000
        total_services: 100
    resource_pool:
      blobstore_type: webdav
      webdav_config:
        username: 'blobstore_user'
    security_group_definitions:
    - name: public_networks
      rules:
      - destination: 0.0.0.0-9.255.255.255
        protocol: all
      - destination: 11.0.0.0-169.253.255.255
        protocol: all
      - destination: 169.255.0.0-172.15.255.255
        protocol: all
      - destination: 172.32.0.0-192.167.255.255
        protocol: all
      - destination: 192.169.0.0-255.255.255.255
        protocol: all
    - name: dns
      rules:
      - destination: 0.0.0.0/0
        ports: "53"
        protocol: tcp
      - destination: 0.0.0.0/0
        ports: "53"
        protocol: udp
    stacks:
    - name: "cflinuxfs3"
      description: "Cloud Foundry Linux-based filesystem"
    - name: "sle12"
      description: "SLE-based filesystem"
    - name: "sle15"
      description: "SUSE Linux Enterprise-based filesystem"
    staging_upload_user: staging_user
    system_hostnames:
    - api
    - blobstore
    - doppler
    - loggregator
    - login
    - uaa
    - usb
    thresholds:
      api:
        alert_if_above_mb: null
        restart_if_above_mb: null
        restart_if_consistently_above_mb: null
      worker:
        alert_if_above_mb: null
        restart_if_above_mb: null
        restart_if_consistently_above_mb: null
    volume_services_enabled: true
  ccdb:
    databases:
    - name: ccdb
      tag: cc
    db_scheme: mysql
  cf-usb:
    broker:
      username: broker-admin
      port: 24054
    management:
      dev_mode: true
      port: 24053
      uaa:
        client: cf-usb
  cf_mysql:
    broker:
      port: 8081
      protocol: http
    mysql:
      port: 13306
      startup_timeout: 300
      galera_healthcheck:
        endpoint_username: 'galera_healthcheck_bootstrap_user'
  cf_mysql_enabled: false
  deployment: scf-deployment
  diego:
    auctioneer:
      rep:
        require_tls: true
      skip_consul_lock: true
    bbs:
      active_key_label: active
      auctioneer:
        require_tls: true
      detect_consul_cell_registrations: false
      rep:
        require_tls: true
      skip_consul_lock: true
      sql:
        db_port: 3306
        db_schema: diego
        db_username: diego
    executor:
      garden:
        address: 127.0.0.1:7777
        network: tcp
    file_server:
      static_directory: /var/vcap/packages/
    locket:
      sql:
        db_port: 3306
        db_schema: diego_locket
        db_username: diego_locket
    rep:
      evacuation_timeout_in_seconds: 60
      preloaded_rootfses:
      - "sle15:/var/vcap/packages/sle15/rootfs.tar"
      - "sle12:/var/vcap/packages/cf-sle12/rootfs.tar"
      - "cflinuxfs3:/var/vcap/packages/cflinuxfs3/rootfs.tar"
    route_emitter:
      local_mode: true
      nats:
        user: nats
    ssh_proxy:
      enable_cf_auth: true
  eirini-persi:
    # picking 443 as default for webhook extensions
    # otherwise GKE needs specific fw rules for each operator port
    operator_webhook_port: 8443
    operator_webhook_host: 0.0.0.0
    operator_webhook_servicename: eirini-persi-eirini-persi
  eirini-ssh-extension:
    # picking 443 as default for webhook extensions
    # otherwise GKE needs specific fw rules for each operator port
    operator_webhook_port: 8443
    operator_webhook_host: 0.0.0.0
    operator_webhook_servicename: eirini-ssh-eirini-ssh-extension
  enable_consul_service_registration: false
  encryption:
    active_key_label: smorgasbrod
  etcd:
    bootstrap_node: etcd-0
  fissile:
    monit:
      user: "admin"
      port: 2289
  garden:
    # By default we want to restrict all outbound access from containers
    # so they can't access the CF network, or other apps. Traffic to the
    # internet and services is configured using proper CF security group
    # rules.
    deny_networks: [0.0.0.0/0]
    listen_address: 0.0.0.0:7777
    listen_network: tcp
  grootfs:
    # Garden should at least be able to cache the cflinuxfs3 rootfs
    # to avoid copy operations on every garden healthcheck from rep
    # when there is no app running with the healthcheck rootfs.
    reserved_space_for_other_jobs_in_mb: 3000
  loggregator:
    use_v2_api: true
  metrics:
    server_name: 'metrics_server'
  nats:
    port: 4222
    user: nats
  nfsbroker:
    db_driver: 'mysql'
    db_username: 'nfsvolume'
    db_port: 3306
    db_name: 'nfsvolume'
    services:
    - id: '20e22be2-a4fb-4b17-a5ef-0c9dba8bdc74'
      name: 'persi-nfs'
      description: "Existing NFSv3 volumes (see: https://code.cloudfoundry.org/nfs-volume-release/)"
      bindable: true
      plan_updatable: false
      tags: ["nfs"]
      requires: ["volume_mount"]
      plans:
      - id: Existing
        name: "Existing"
        description: "A preexisting filesystem"
  router:
    ca_certs: ''
    enable_ssl: true
    extra_headers_to_log: null
    port: 8000
    requested_route_registration_interval_in_seconds: null
    route_services_timeout: null
    secure_cookies: null
    status:
      user: router_user
    set_kernel_parameters: false
  routing_api:
    enabled: true
    sqldb:
      type: mysql
      port: 3306
      schema: routing-api
      username: routing-api
  scalablesyslog:
    adapter:
      tls:
         cn: 'dummy-1'
    adapter_rlp:
      tls:
        cn: 'syslog_rlp'
    scheduler:
      bosh_dns: true
      tls:
        api:
          cn: api
        client:
          adapter_cn: adapter
  scf:
    skip_cert_verify_external: false
  set_kernel_parameters: false
  smoke_tests:
    client: cf_smoke_tests
    org: smoke-test-org
    space: smoke-test-space
    skip_ssl_validation: true
  system_domain_organization: null
  ssl:
    skip_cert_verify: false
  tcp:
    enabled: true
  tcp_router:
    health_check_port: 8080
  uaa:
    clients:
      # Note that these clients are overridden in the dev-only UAA role; that is
      # instead used to bootstrap the default zone, whereas all of these clients
      # go into the SCF zone.
      app_autoscaler:
        # Requires read-only admin to look up stats, and write admin to do scaling
        authorities: cloud_controller.read,cloud_controller.write,cloud_controller.admin,uaa.resource
        authorized-grant-types: client_credentials
      cc-service-dashboards:
        scope: cloud_controller_service_permissions.read,openid
        authorities: clients.read,clients.write,clients.admin
        authorized-grant-types: client_credentials
      cc_routing:
        authorities: routing.router_groups.read
        authorized-grant-types: client_credentials
      cc_service_key_client:
        authorities: credhub.read,credhub.write
        authorized-grant-types: client_credentials
      cf:
        access-token-validity: 600
        authorities: uaa.none
        authorized-grant-types: password,refresh_token
        override: true
        refresh-token-validity: 2592000
        # We don't want scope perm.admin because it's for the perm service
        # (https://github.com/cloudfoundry-incubator/perm) which is deprecated
        # as it doesn't work with PXC
        scope: clients.read,perm.admin,network.admin,network.write,cloud_controller.read,cloud_controller.write,openid,password.write,cloud_controller.admin,scim.read,scim.write,doppler.firehose,uaa.user,routing.router_groups.read,routing.router_groups.write,cloud_controller.admin_read_only,cloud_controller.global_auditor
        secret: ''
      cf_smoke_tests:
        authorities: cloud_controller.admin
        authorized-grant-types: client_credentials
      cf-usb:
        authorities: cloud_controller.admin,usb.management.admin
        authorized-grant-types: client_credentials
        scope: usb.management.admin
      cloud_controller_username_lookup:
        authorities: scim.userids
        authorized-grant-types: client_credentials
      credhub_user_cli:
        authorities: credhub.write,credhub.read
        authorized-grant-types: client_credentials
      default_zone_admin:
        authorized-grant-types: client_credentials
        scope: uaa.admin
        authorities: uaa.admin
      doppler:
        authorities: uaa.resource
        authorized-grant-types: client_credentials
        override: true
      gorouter:
        authorities: routing.routes.read
        authorized-grant-types: client_credentials
        #scope: openid,cloud_controller_service_permissions.read
      routing_api_client:
        authorities: routing.routes.write,routing.routes.read,routing.router_groups.read
        authorized-grant-types: client_credentials
      scf_auto_config:
        access-token-validity: 600
        # Due to CAPS-969, our UAA clients are missing `autoapprove` and `redirect-uri` configs
        # we need clients.admin to make the necessary changes to UAA
        # cloud_controller.admin is needed for scf-helper-release/scf-set-proxy job
        authorities: scim.read,scim.write,clients.admin,cloud_controller.admin
        authorized-grant-types: client_credentials
      ssh-proxy:
        authorized-grant-types: authorization_code
        autoapprove: true
        override: true
        scope: openid,cloud_controller.read,cloud_controller.write,cloud_controller.admin
      tcp_emitter:
        authorities: routing.routes.write,routing.routes.read
        authorized-grant-types: client_credentials
      tcp_router:
        authorities: routing.routes.read
        authorized-grant-types: client_credentials
    user:
      authorities:
      - openid
      - scim.me
      - cloud_controller.read
      - cloud_controller.write
      - cloud_controller_service_permissions.read
      - password.write
      - uaa.user
      - approvals.me
      - oauth.approvals
      - notification_preferences.read
      - notification_preferences.write
      - profile
      - roles
      - user_attributes
      - routing.router_groups.read
      - uaa.offline_token
      default_groups:
      - openid
      - cloud_controller.read
      - cloud_controller.write
      - cloud_controller_service_permissions.read
      - password.write
      - uaa.user
      - approvals.me
      - profile
      - roles
      - user_attributes
      - uaa.offline_token
    jwt:
      policy:
        active_key_id: default
    logging_level: INFO
  uaadb:
    address: mysql-set
    databases:
    - name: uaadb
      tag: uaa
    db_scheme: mysql
    port: 3306
