#!/usr/bin/env bash
# This is actually sourced by direnv, which always uses a bash subshell to do its work
# Load any higher up ones (esp. /home/vagrant)
source_up

# The Docker repository name used for images
export FISSILE_REPOSITORY=fissile

# This is a comma separated list of paths to the local repositories
# of all the releases that make up HCF
FISSILE_RELEASE=""
path_add FISSILE_RELEASE src/diego-release
path_add FISSILE_RELEASE src/etcd-release
path_add FISSILE_RELEASE src/garden-runc-release
path_add FISSILE_RELEASE src/cf-mysql-release
path_add FISSILE_RELEASE src/cflinuxfs2-rootfs-release
path_add FISSILE_RELEASE src/routing-release
path_add FISSILE_RELEASE src/hcf-release
path_add FISSILE_RELEASE src/grootfs-release
path_add FISSILE_RELEASE src/capi-release
path_add FISSILE_RELEASE src/uaa-release
path_add FISSILE_RELEASE src/loggregator
path_add FISSILE_RELEASE src/nats-release
path_add FISSILE_RELEASE src/consul-release
path_add FISSILE_RELEASE src/buildpacks/binary-buildpack-release
path_add FISSILE_RELEASE src/buildpacks/go-buildpack-release
path_add FISSILE_RELEASE src/buildpacks/java-buildpack-release
path_add FISSILE_RELEASE src/buildpacks/nodejs-buildpack-release
path_add FISSILE_RELEASE src/buildpacks/php-buildpack-release
path_add FISSILE_RELEASE src/buildpacks/python-buildpack-release
path_add FISSILE_RELEASE src/buildpacks/ruby-buildpack-release
path_add FISSILE_RELEASE src/buildpacks/staticfile-buildpack-release
export FISSILE_RELEASE="${FISSILE_RELEASE//:/,}"

# Path to an HCF role manifest
export FISSILE_ROLE_MANIFEST="$(expand_path container-host-files/etc/hcf/config/role-manifest.yml)"

# Path to a BOSH deployment manifest that contains light opinions
export FISSILE_LIGHT_OPINIONS="$(expand_path container-host-files/etc/hcf/config/opinions.yml)"

# Path to a BOSH deployment manifest that contains dark opinions
export FISSILE_DARK_OPINIONS="$(expand_path container-host-files/etc/hcf/config/dark-opinions.yml)"

# Path to a location where all fissile output is stored
# This will be ~/.fissile in vagrant
export FISSILE_WORK_DIR="${FISSILE_WORK_DIR:-$(expand_path output/fissile)}"

# This is the location of the local BOSH cache
# You shouldn't need to override this
# This will be ~/.bosh/cache in vagrant
export FISSILE_CACHE_DIR="${FISSILE_CACHE_DIR:-$(expand_path output/bosh-cache)}"

# Path to fissile binary (not actually used by fissile)
export FISSILE_BINARY="$(expand_path output/bin/fissile)"
mkdir -p "$(dirname "${FISSILE_BINARY}")"
PATH_add "$(dirname "${FISSILE_BINARY}")"

# Path to a configgin release tarball
export FISSILE_CONFIGGIN="$(expand_path output/tools/configgin.tgz)"
mkdir -p "$(dirname "${FISSILE_CONFIGGIN}")"

# This is the configuration base prefix
export FISSILE_CONFIG_PREFIX=hcf

# Default value for --patch-properties-release
export FISSILE_PATCH_PROPERTIES_RELEASE="hcf/patch-properties"

# We will persist compilation results to the VM here
export HCF_PACKAGE_COMPILATION_CACHE="$(expand_path .fissile/compilation)"
