*~
\#*
_work/
target/
password
*.pem
*.tfstate*
*.tfvars
.terraform/
!.fissile/.gitkeep
!.fissile/.bosh/.gitkeep
.fissile/*
.vagrant
.bash_history
*.box
*.vmdk
/hcf_metrics.csv
/hcf-hcp.json
/hcf-hcp-instance.json
/vagrant.json
.demos
src/*-clone
/*.tf
/*.tf.json

# `make dist` output of various forms
/aws-hcf-*.zip
/aws-proxy-hcf-*.zip
/aws-spot-hcf-*.zip
/aws-spot-proxy-hcf-*.zip
/hcp-ha-hcf-*.zip
/hcp-hcf-*.zip
/mpc-hcf-*.zip
output/
/kube/bosh/
/kube/bosh-task/
