*~
\#*
_work/
target/
password
*.pem
!.fissile/.gitkeep
!.fissile/.bosh/.gitkeep
.fissile/*
.vagrant
.bash_history
*.box
*.vmdk
/scf_metrics.csv
/vagrant.json
.demos
/src/*-clone
/src/buildpacks/*-clone
/bin/settings/certs.env
/bin/settings/kube/ca.env
/container-host-files/etc/scf/config/role-manifest-final.yml
# `make dist` output of various forms
/output/
personal-setup
/OSCTEMP/
/source-output/
.final_releases
