[submodule "src/cf-release"]
	path = src/cf-release
	url = https://github.com/cloudfoundry/cf-release.git
[submodule "src/cf-usb"]
	path = src/cf-usb
	url = git@github.com:hpcloud/cf-usb.git
[submodule "src/garden-linux-release"]
	path = src/garden-linux-release
	url = https://github.com/cloudfoundry-incubator/garden-linux-release.git
[submodule "src/diego-release"]
	path = src/diego-release
	url = https://github.com/cloudfoundry-incubator/diego-release.git
[submodule "src/etcd-release"]
	path = src/etcd-release
	url = https://github.com/cloudfoundry-incubator/etcd-release
[submodule "src/cf-mysql-release"]
	path = src/cf-mysql-release
	url = https://github.com/cloudfoundry/cf-mysql-release.git
[submodule "src/hcf-deployment-hooks/src/github.com/hpcloud/cf-plugin-usb"]
	path = src/hcf-deployment-hooks/src/github.com/hpcloud/cf-plugin-usb
	url = git@github.com:hpcloud/cf-plugin-usb.git
[submodule "src/cflinuxfs2-rootfs-release"]
	path = src/cflinuxfs2-rootfs-release
	url = https://github.com/cloudfoundry/cflinuxfs2-rootfs-release.git
[submodule "src/hcf-sso"]
	path = src/hcf-sso
	url = git@github.com:hpcloud/hcf-sso
