*~
\#*
_work/
target/
password
*.pem
!.gitkeep
/.fissile/
.vagrant
.bash_history
*.box
*.vmdk
/scf_metrics.csv
/vagrant.json
.demos
src/*-clone
src/buildpacks/*-clone
/bin/settings/kube/ca.env
# `make dist` output of various forms
/output/
personal-setup
