openstack_base_image_id = "<your Ubuntu 14.04.3 cloud image id"

openstack_flavor_id.core = "4" # your flavor id >=8GB
openstack_flavor_id.dea = "3" # your flavor id >=4GB

openstack_availability_zone = "nova"
openstack_keypair = "<your keypair>"
openstack_network_id = "<your network id>"
openstack_network_name = "<your network name>"
openstack_floating_ip_pool = "ext-net"
dns_server = "<your environment dns server>"
key_file = "<your local private key file location>"

# This will be your initial login to the system
cluster_admin_username = "<your username>"
cluster_admin_password = "<your password>"

# Set this to the number of DEA hosts you wish to create
dea_count = 1

http_proxy = "<http://your.proxy.server>"
https_proxy = "<http://your.proxy.server>"

# machines in your cluster will be added to this no_proxy automatically as-needed
no_proxy = "<your,no-proxy,set>"

