# Paths to the two files holding the public and private key parts of
# an OpenSSH key. This key is used to access the created host, and
# must be created before. A possible command to do so is:
#
#   ssh-keygen -t rsa -b 4096 -C "yourname@hpe.com" -f yourname-aws
#
# With yourname changed appropriately.

public_key_file      = ""
private_key_file     = ""

# The 'name' of the 'cluster' to create. All resources created by the
# setup will have this string as their prefix. Use this to distinguish
# the setup from all other similar setups.

cluster_prefix       = "..."

## HP's Docker Trusted Registry: Authentication
docker_username = ""
docker_email    = ""
docker_password = ""

## DTR location and images inside
## The defaults are in hcf.tf
## Only the hcf_version should be changed, to select among the
## possible hcf versions.
#docker_trusted_registry = ""
#docker_org              = "helioncf"
#hcf_image_prefix        = "hcf-"
#hcf_version             = "..."
