---
properties:
  acceptance_tests:
    admin_user: admin
    skip_ssl_validation: true
    backend: diego
    include_diego_ssh: true
    include_diego_docker: true
    include_security_groups: true
    include_internet_dependent: true
    include_services: true
    cf_push_timeout: 300
    default_timeout: 300
  acceptance_tests_brain:
    user: admin
    org: test-brain-org
    space: test-brain-space
  autoscaler:
    autoscaler_api:
      host: sclr-api
    autoscaler_server:
      host: sclr-server
    couchdb:
      host: couchdb
  autoscaler_api:
    internal_auth:
      username: admin
    scaling_service:
      name: app-autoscaler
  autoscaler_server:
    internal_auth:
      username: admin
  autoscaler_servicebroker:
    auth:
      username: admin
    host: sclr-broker
    name: app-autoscaler
  bbs:
    api_location: diego-database:8889
  capi:
    nsync:
      bbs:
        api_location: diego-database:8889
      cc:
        base_url: http://api:9022
      file_server_url: http://diego-access:8080
      lifecycle_bundles:
        - "buildpack/cflinuxfs2:buildpack_app_lifecycle/buildpack_app_lifecycle.tgz"
        - "buildpack/windows2012R2:windows_buildpack_app_lifecycle/windows_buildpack_app_lifecycle.tgz"
        - "buildpack/win2012r2:windows_buildpack_app_lifecycle/windows_buildpack_app_lifecycle.tgz"
        - "docker:docker_app_lifecycle/docker_app_lifecycle.tgz"
    stager:
      bbs:
        api_location: diego-database:8889
      cc:
        internal_service_hostname: api
      cc_uploader_url: http://diego-cc-bridge:9090
      file_server_url: http://diego-access:8080
      lifecycle_bundles:
        - "buildpack/cflinuxfs2:buildpack_app_lifecycle/buildpack_app_lifecycle.tgz"
        - "buildpack/windows2012R2:windows_buildpack_app_lifecycle/windows_buildpack_app_lifecycle.tgz"
        - "buildpack/win2012r2:windows_buildpack_app_lifecycle/windows_buildpack_app_lifecycle.tgz"
        - "docker:docker_app_lifecycle/docker_app_lifecycle.tgz"
      staging_task_callback_url: http://diego-cc-bridge:8888
    tps:
      bbs:
        api_location: diego-database:8889
      cc:
        internal_service_hostname: api
      traffic_controller_url: ws://loggregator:8081
  cc:
    broker_client_timeout_seconds: 70
    buildpacks:
      blobstore_type: webdav
      webdav_config:
        private_endpoint: https://blobstore:4443
        username: 'blobstore_user'
    client_max_body_size: 15M
    default_running_security_groups:
    - public_networks
    - dns
    default_staging_security_groups:
    - public_networks
    - dns
    default_to_diego_backend: true
    diego:
      nsync_url: http://diego-cc-bridge:8787
      stager_url: http://diego-cc-bridge:8888
      tps_url: http://diego-cc-bridge:1518
    droplets:
      blobstore_type: webdav
      droplet_directory_key: cc-droplets
      webdav_config:
        private_endpoint: https://blobstore:4443
        username: 'blobstore_user'
    external_protocol: http
    install_buildpacks:
    - name: staticfile_buildpack
      package: staticfile-buildpack
    - name: java_buildpack
      package: java-buildpack
    - name: ruby_buildpack
      package: ruby-buildpack
    - name: nodejs_buildpack
      package: nodejs-buildpack
    - name: go_buildpack
      package: go-buildpack
    - name: python_buildpack
      package: python-buildpack
    - name: php_buildpack
      package: php-buildpack
    - name: binary_buildpack
      package: binary-buildpack
    - name: cf_iis_buildpack
      package: cf_iis_buildpack
    internal_service_hostname: api
    jobs:
      generic:
        number_of_workers: null
    newrelic:
      environment_name: null
      transaction_tracer:
        enabled: true
        record_sql: obfuscated
    packages:
      blobstore_type: webdav
      webdav_config:
        private_endpoint: https://blobstore:4443
        username: 'blobstore_user'
    quota_definitions:
      default:
        memory_limit: 10240
        non_basic_services_allowed: true
        total_routes: 1000
        total_services: 100
    resource_pool:
      blobstore_type: webdav
      webdav_config:
        private_endpoint: https://blobstore:4443
        username: 'blobstore_user'
    security_event_logging:
      enabled: null
    security_group_definitions:
    - name: public_networks
      rules:
      - destination: 0.0.0.0-9.255.255.255
        protocol: all
      - destination: 11.0.0.0-169.253.255.255
        protocol: all
      - destination: 169.255.0.0-172.15.255.255
        protocol: all
      - destination: 172.32.0.0-192.167.255.255
        protocol: all
      - destination: 192.169.0.0-255.255.255.255
        protocol: all
    - name: dns
      rules:
      - destination: 0.0.0.0/0
        ports: "53"
        protocol: tcp
      - destination: 0.0.0.0/0
        ports: "53"
        protocol: udp
    srv_api_uri: http://api:9022
    stacks:
    - name: cflinuxfs2
      description: Cloud Foundry Linux-based filesystem
    - name: win2012r2
      description: Windows Server 2012 R2
    - name: windows2012R2
      description: Windows Server 2012 R2
    staging_upload_user: staging_user
    system_hostnames:
    - api
    - blobstore
    - doppler
    - loggregator
    - login
    - uaa
    - usb
    thresholds:
      api:
        alert_if_above_mb: null
        restart_if_above_mb: null
        restart_if_consistently_above_mb: null
      worker:
        alert_if_above_mb: null
        restart_if_above_mb: null
        restart_if_consistently_above_mb: null
    core_file_pattern: false
    volume_services_enabled: true
  ccdb:
    address: mysql-proxy
    databases:
    - name: ccdb
      tag: cc
    db_scheme: mysql
    port: 3306
  cf-usb:
    broker:
      external_url: https://cf-usb:24054
      username: broker-admin
      port: 24054
    management:
      dev_mode: true
      port: 24053
      uaa:
        client: cf-usb
    mysql_address: mysql-proxy
  cf_mysql:
    mysql:
      advertise_host: mysql-0.mysql-pod # TODO: fix this for HA
      database_startup_timeout: 300
      galera_healthcheck:
        endpoint_username: 'galera_healthcheck_bootstrap_user'
      max_open_files: 1500
    proxy:
      api_force_https: false
      api_username: 'mysql_proxy'
      healthcheck_timeout_millis: 30000
  consul:
    agent:
      domain: hcf
  couchdb:
    host: couchdb
    metric_prefix: couchdb-scalingmetric
    port: 5984
    username: admin
  diego:
    auctioneer:
      bbs:
        api_location: diego-database:8889
    bbs:
      active_key_label: active
      advertisement_base_hostname: diego-database-pod
      auctioneer:
        api_location: diego-brain:9016
      etcd:
        machines: []
    executor:
      garden:
        address: 127.0.0.1:7777
        network: tcp
    file_server:
      static_directory: /var/vcap/packages/
    rep:
      advertise_domain: diego-cell-pod
      bbs:
        api_location: diego-database:8889
      cell_id: diego-cell-0 # TODO: fix this for HA
      evacuation_timeout_in_seconds: 60
      preloaded_rootfses:
        - cflinuxfs2:/var/vcap/packages/cflinuxfs2/rootfs
    route_emitter:
      bbs:
        api_location: diego-database:8889
      nats:
        user: nats
    ssh_proxy:
      bbs:
        api_location: diego-database:8889
      cc:
        internal_service_hostname: api
      enable_cf_auth: true
      uaa_token_url: https://uaa:8443/oauth/token # TODO: fix for UAA zones
  doppler:
    tls:
      enable: true
    locked_memory_limit: kernel
    port: 4443
  etcd:
    advertise_urls_dns_suffix: etcd-pod
    bootstrap_node: etcd-0
  etcd_metrics_server:
    etcd:
      dns_suffix: etcd-pod
  garden:
    # By default we want to restrict all outbound access from containers
    # so they can't access the CF network, or other apps. Traffic to the
    # internet and services is configured using proper CF security group
    # rules.
    deny_networks: [0.0.0.0/0]
    # Garden should at least be able to cache the cflinuxfs2 rootfs
    # to avoid copy operations on every garden healthcheck from rep
    # when there is no app running with the healthcheck rootfs.
    graph_cleanup_threshold_in_mb: 3000
    listen_address: 0.0.0.0:7777
    listen_network: tcp
    persistent_image_list:
    - /var/vcap/packages/rootfs_cflinuxfs2/rootfs
  hcf:
    hcp_service_domain_suffix: ''
    monit:
      user: "admin"
      port: 2289
    uaa:
      internal-url: https://uaa:8443
      root-zone:
        url: 'https://uaa:8443' # Not used in HCP; this is the UAA zone to bootrap the HCF-specific zone.
  hcf_sso:
    host: hcf-sso
    username: 'username'
  hcf_versions:
    blobstore:
      private_endpoint: https://blobstore:4443
      username: 'blobstore_user'
  hm9000:
    # Used in cc_ng and cc_worker
    url: https://this.is.unused
  localbroker:
    service-name: 'shared-volume'
    service-id: '3b640186-6429-4cbb-b346-bf96acba3fb9'
    plan-name: 'default'
    plan-id: '8ea4a4f1-ab4a-4bbb-a4a6-810d46713449'
    plan-desc: 'Default service plan'
    data-dir: /var/vcap/store/persibroker
    localdriver-url: "http://localhost:9089"
  localdriver:
    listen_addr: "127.0.0.1:9089"
    debug_addr: ""
    cell_mount_path: /var/vcap/persistore/servicevolumes
  logger_endpoint:
    port: 4443
  login:
    asset_base_url: null
    logout:
      redirect:
        url: /login?template=openstack
    saml:
      serviceProviderKeyPassword: ""
  metron_agent:
    deployment: hcf-deployment
  nats:
    port: 4222
    user: nats
  nfs_server:
    address: 0.0.0.3
  router:
    cipher_suites: TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA:TLS_RSA_WITH_AES_128_CBC_SHA
    enable_ssl: true
    extra_headers_to_log: null
    logrotate:
      freq_min: 20
      rotate: 5
      size: 3M
    requested_route_registration_interval_in_seconds: null
    route_services_timeout: null
    secure_cookies: null
    servers:
    - router
    ssl_skip_validation: null
    status:
      user: router_user
  routing_api:
    enabled: true
    uri: http://routing-api
  smoke_tests:
    user: 'admin'
    org: smoke-test-org
    space: smoke-test-space
    skip_ssl_validation: true
  syslog_drain_binder:
    locked_memory_limit: kernel
  system_domain_organization: null
  tcp_emitter:
    debug_address: 0.0.0.0:17003
  traffic_controller:
    locked_memory_limit: kernel
  tomcat:
    http:
      autoscaler_api:
        route: sclr-api
        port: 28861
      autoscaler_server:
        route: sclr-server
        port: 28862
      autoscaler_servicebroker:
        port: 28863
  uaa:
    authentication:
      policy:
        countFailuresWithinSeconds: null
        lockoutAfterFailures: null
        lockoutPeriodSeconds: null
    clients:
      cf-autoscaler-client:
        authorities: cloud_controller.read,cloud_controller.admin
        authorized-grant-types: client_credentials
      cf-usb:
        authorities: cloud_controller.admin,usb.management.admin
        authorized-grant-types: client_credentials
        scope: usb.management.admin
      cc-service-dashboards:
        authorities: clients.read,clients.write,clients.admin
        authorized-grant-types: client_credentials
        scope: openid,cloud_controller_service_permissions.read
      cc_routing:
        authorities: routing.router_groups.read
        authorized-grant-types: client_credentials
      cf:
        access-token-validity: 600
        authorities: uaa.none
        authorized-grant-types: implicit,password,refresh_token,client_credentials
        autoapprove: true
        override: true
        refresh-token-validity: 2592000
        scope: cloud_controller.read,cloud_controller.write,openid,password.write,cloud_controller.admin,scim.read,scim.write,doppler.firehose,uaa.user,routing.router_groups.read
      cloud_controller:
        authorized-grant-types: client_credentials
        authorities: scim.read,scim.write,password.write
        id: cloud_controller
        access-token-validity: 604800
      cloud_controller_username_lookup:
        authorities: scim.userids
        authorized-grant-types: client_credentials
      doppler:
        authorities: uaa.resource
        override: true
      gorouter:
        authorities: clients.read,clients.write,clients.admin,route.admin,route.advertise,routing.routes.read
        authorized-grant-types: client_credentials,refresh_token
        scope: openid,cloud_controller_service_permissions.read
      hcf-sso:
        access_token_validity: 3600
        authorized-grant-types: authorization_code
        scope: scim.me
      hcf_auto_config:
        access-token-validity: 600
        authorities: scim.read,scim.write,clients.admin,cloud_controller.admin
        authorized-grant-types: client_credentials
      login:
        authorities: oauth.login,scim.write,clients.read,notifications.write,critical_notifications.write,emails.write,scim.userids,password.write
        authorized-grant-types: authorization_code,client_credentials,refresh_token
        autoapprove: true
        override: true
        scope: openid,oauth.approvals
      notifications:
        authorities: cloud_controller.admin,scim.read
        authorized-grant-types: client_credentials
      ssh-proxy:
        authorized-grant-types: authorization_code
        autoapprove: true
        override: true
        redirect-uri: /login
        scope: openid,cloud_controller.read,cloud_controller.write
      tcp_emitter:
        authorities: routing.routes.write,routing.routes.read
        authorized-grant-types: client_credentials,refresh_token
      tcp_router:
        authorities: routing.routes.read
        authorized-grant-types: client_credentials,refresh_token
    database:
      abandoned_timeout: 600
      remove_abandoned: true
    issuer: https://uaa.example.com
    require_https: null
    ssl:
      port: 8443
    tls_port: 8443
    token_endpoint: uaa
    user:
      authorities:
      - openid
      - scim.me
      - cloud_controller.read
      - cloud_controller.write
      - cloud_controller_service_permissions.read
      - password.write
      - uaa.user
      - approvals.me
      - oauth.approvals
      - notification_preferences.read
      - notification_preferences.write
      - profile
      - roles
      - user_attributes
      - routing.router_groups.read
  uaadb:
    address: mysql-proxy
    databases:
    - name: uaadb
      tag: uaa
    db_scheme: mysql
    port: 3306
