---
properties:
  acceptance_tests:
    skip_ssl_validation: true
  app_domains:
  - example.com
  app_ssh: null
  cc:
    tweak_proc_sys: false
    allow_app_ssh_access: true
    allowed_cors_domains: []
    app_events:
      cutoff_age_in_days: 31
    app_usage_events:
      cutoff_age_in_days: 31
    audit_events:
      cutoff_age_in_days: 31
    broker_client_default_async_poll_interval_seconds: 60
    broker_client_max_async_poll_duration_minutes: 10080
    broker_client_timeout_seconds: 70
    buildpacks:
      buildpack_directory_key: bd_key
      cdn: null
      fog_connection: null
    bulk_api_password: password
    client_max_body_size: 15M
    db_encryption_key: the_key
    db_logging_level: debug2
    default_app_disk_in_mb: 1024
    default_app_memory: 1024
    default_buildpacks:
    - name: staticfile_buildpack
      package: buildpack_staticfile
    - name: java_buildpack
      package: buildpack_java
    - name: ruby_buildpack
      package: buildpack_ruby
    - name: nodejs_buildpack
      package: buildpack_nodejs
    - name: go_buildpack
      package: buildpack_go
    - name: python_buildpack
      package: buildpack_python
    - name: php_buildpack
      package: buildpack_php
    - name: binary_buildpack
      package: buildpack_binary
    - name: cf_iis_buildpack
      package: cf_iis_buildpack
    default_health_check_timeout: 60
    default_quota_definition: default
    default_running_security_groups:
    - public_networks
    - dns
    - dev_services
    default_staging_security_groups:
    - public_networks
    - dns
    - dev_services
    default_to_diego_backend: true
    development_mode: false
    directories: null
    disable_custom_buildpacks: false
    droplets:
      cdn: null
      droplet_directory_key: the_key
      fog_connection: null
    external_host: api
    external_protocol: http
    install_buildpacks:
    - name: staticfile_buildpack
      package: staticfile-buildpack
    - name: java_buildpack
      package: buildpack_java
    - name: ruby_buildpack
      package: ruby-buildpack
    - name: nodejs_buildpack
      package: nodejs-buildpack
    - name: go_buildpack
      package: go-buildpack
    - name: python_buildpack
      package: python-buildpack
    - name: php_buildpack
      package: php-buildpack
    - name: binary_buildpack
      package: binary-buildpack
    - name: cf_iis_buildpack
      package: cf_iis_buildpack
    internal_api_password: password
    internal_api_user: internal_user
    jobs:
      app_bits_packer:
        timeout_in_seconds: null
      app_events_cleanup:
        timeout_in_seconds: null
      app_usage_events_cleanup:
        timeout_in_seconds: null
      blobstore_delete:
        timeout_in_seconds: null
      blobstore_upload:
        timeout_in_seconds: null
      droplet_deletion:
        timeout_in_seconds: null
      droplet_upload:
        timeout_in_seconds: null
      generic:
        number_of_workers: null
      global:
        timeout_in_seconds: 14400
      model_deletion:
        timeout_in_seconds: null
    logging_level: debug2
    maximum_app_disk_in_mb: 2048
    maximum_health_check_timeout: 180
    min_cli_version: null
    min_recommended_cli_version: null
    newrelic:
      capture_params: false
      developer_mode: false
      environment_name: null
      license_key: null
      monitor_mode: false
      transaction_tracer:
        enabled: true
        record_sql: obfuscated
    packages:
      app_package_directory_key: example.com-cc-packages
      cdn: null
      fog_connection: null
      max_package_size: 1073741824
    quota_definitions:
      default:
        memory_limit: 10240
        non_basic_services_allowed: true
        total_routes: 1000
        total_services: 100
    resource_pool:
      cdn: null
      fog_connection: null
      resource_directory_key: example.com-cc-resources
    security_group_definitions:
    - name: public_networks
      rules:
      - destination: 0.0.0.0-9.255.255.255
        protocol: all
      - destination: 11.0.0.0-169.253.255.255
        protocol: all
      - destination: 169.255.0.0-172.15.255.255
        protocol: all
      - destination: 172.32.0.0-192.167.255.255
        protocol: all
      - destination: 192.169.0.0-255.255.255.255
        protocol: all
    - name: dev_services
      rules:
      - destination: 172.20.10.0/24
        protocol: all
    - name: dns
      rules:
      - destination: 0.0.0.0/0
        ports: "53"
        protocol: tcp
      - destination: 0.0.0.0/0
        ports: "53"
        protocol: udp
    srv_api_uri: https://api.example.com
    stacks:
    - name: cflinuxfs2
      description: Cloud Foundry Linux-based filesystem
    - name: win2012r2
      description: Windows Server 2012 R2
    - name: windows2012R2
      description: Windows Server 2012 R2
    staging_upload_password: password
    staging_upload_user: username
    system_buildpacks:
    - name: staticfile_buildpack
      package: buildpack_staticfile
    - name: java_buildpack
      package: buildpack_java
    - name: ruby_buildpack
      package: buildpack_ruby
    - name: nodejs_buildpack
      package: buildpack_nodejs
    - name: go_buildpack
      package: buildpack_go
    - name: python_buildpack
      package: buildpack_python
    - name: php_buildpack
      package: buildpack_php
    - name: binary_buildpack
      package: buildpack_binary
    - name: cf_iis_buildpack
      package: cf_iis_buildpack
    thresholds:
      api:
        alert_if_above_mb: null
        restart_if_above_mb: null
        restart_if_consistently_above_mb: null
      worker:
        alert_if_above_mb: null
        restart_if_above_mb: null
        restart_if_consistently_above_mb: null
    user_buildpacks: []
    users_can_select_backend: true
  ccdb:
    databases:
    - name: ccdb
      tag: cc
    db_scheme: mysql
    port: 3306
    roles:
    - name: ccadmin
      password: admin_password
      tag: admin
  cf-usb:
    broker:
      external_url: brokers.example.com
      username: cf-usb_username
      password: cf-usb_password
    configconnectionstring: 127.0.0.1:8500
    configprovider: consulConfigProvider
    management:
      dev_mode: true
      uaa:
        client: cf-usb
        secret: cf-usb_secret
    skip_tls_validation: true
  consul:
    agent:
      log_level: null
    agent_cert: null
    agent_key: null
    ca_cert: null
    encrypt_keys: []
    require_ssl: false
    server_cert: null
    server_key: null
  dea_next:
    # Used in ccng/templates/cc_api.yml.erb
    advertise_interval_in_seconds: 5
    kernel_network_tuning_enabled: false
    # Used in cc_ng and cc_worker
    staging_disk_limit_mb: 6144
    # Used in cc_ng and cc_worker
    staging_memory_limit_mb: 1024
  description: Helion Cloud Foundry
  diego:
    auctioneer:
      bbs:
        require_ssl: true
    bbs:
      etcd:
        # Until we figure out DNS names
        require_ssl: false
      require_ssl: true
      tweak_proc_sys: false
    cc_uploader:
      tweak_proc_sys: false
      log_level: debug
    converger:
      bbs:
        require_ssl: true
      log_level: debug
    executor:
      drain_timeout_in_seconds: 0
      garden:
        address: 127.0.0.1:7777
        network: tcp
      log_level: debug
    file_server:
      static_directory: /var/vcap/packages/
      tweak_proc_sys: false
    nsync:
      bbs:
        require_ssl: true
      log_level: debug
      lifecycle_bundles:
        - "buildpack/cflinuxfs2:buildpack_app_lifecycle/buildpack_app_lifecycle.tgz"
        - "buildpack/windows2012R2:windows_buildpack_app_lifecycle/windows_buildpack_app_lifecycle.tgz"
        - "buildpack/win2012r2:windows_buildpack_app_lifecycle/windows_buildpack_app_lifecycle.tgz"
        - "docker:docker_app_lifecycle/docker_app_lifecycle.tgz"
    rep:
      bbs:
        require_ssl: true
      evacuation_timeout_in_seconds: 60
      log_level: debug
      tweak_proc_sys: false
      zone: z1
    route_emitter:
      bbs:
        require_ssl: true
      log_level: debug
      nats:
        port: 4222
    ssh_proxy:
      bbs:
        require_ssl: true
      enable_cf_auth: true
      enable_diego_auth: false
    ssl:
      skip_cert_verify: true
    stager:
      bbs:
        require_ssl: true
      tweak_proc_sys: false
      lifecycle_bundles:
        - "buildpack/cflinuxfs2:buildpack_app_lifecycle/buildpack_app_lifecycle.tgz"
        - "buildpack/windows2012R2:windows_buildpack_app_lifecycle/windows_buildpack_app_lifecycle.tgz"
        - "buildpack/win2012r2:windows_buildpack_app_lifecycle/windows_buildpack_app_lifecycle.tgz"
        - "docker:docker_app_lifecycle/docker_app_lifecycle.tgz"
      log_level: debug
    tps:
      bbs:
        require_ssl: true
      log_level: debug
  domain: example.com
  doppler:
    tweak_locked_memory: false
    blacklisted_syslog_ranges: null
    debug: false
    maxRetainedLogMessages: 100
    port: 4443
    unmarshaller_count: 5
  doppler_endpoint:
    shared_secret: loggregator_endpoint_secret
  dropsonde:
    enabled: true
  etcd:
    ca_cert: null
    client_cert: null
    client_key: null
    cluster:
    - instances: 1
      name: diego-database
    # Until we figure out DNS names
    peer_require_ssl: false
    # Until we figure out DNS names
    require_ssl: false
    server_cert: null
    server_key: null
  etcd_metrics_server:
    nats:
      password: *nats_password
      username: *nats_user
  garden:
    deny_networks: []
    graph_cleanup_threshold_in_mb: 0
    listen_address: 0.0.0.0:7777
    listen_network: tcp
    network_pool: 10.38.0.0/22
    log_level: debug
    persistent_image_list:
    - /var/vcap/packages/rootfs_cflinuxfs2/rootfs
  hm9000:
    # Used in cc_ng and cc_worker
    url: https://hm9000.example.com
  logger_endpoint:
    port: 4443
  loggregator:
    blacklisted_syslog_ranges: null
    debug: false
    maxRetainedLogMessages: 100
  login:
    analytics:
      code: null
      domain: null
    asset_base_url: null
    brand: oss
    catalina_opts: null
    enabled: true
    invitations_enabled: null
    links:
      home: https://console.example.com
      network: null
      passwd: https://console.example.com/password_resets/new
      signup: https://console.example.com/register
      signup-network: null
    logout:
      redirect:
        url: /login?template=openstack
    messages: null
    notifications:
      url: null
    protocol: https
    restricted_ips_regex: 10\.\d{1,3}\.\d{1,3}\.\d{1,3}|192\.168\.\d{1,3}\.\d{1,3}|169\.254\.\d{1,3}\.\d{1,3}|127\.\d{1,3}\.\d{1,3}\.\d{1,3}|172\.1[6-9]{1}\.\d{1,3}\.\d{1,3}|172\.2[0-9]{1}\.\d{1,3}\.\d{1,3}|172\.3[0-1]{1}\.\d{1,3}\.\d{1,3}
    saml: null
    self_service_links_enabled: null
    signups_enabled: null
    smtp: null
    spring_profiles: null
    tiles: null
    uaa_base: null
    uaa_certificate: null
    url: null
  metron_agent:
    deployment: hcf-deployment
  metron_endpoint:
    shared_secret: loggregator_endpoint_secret
  nats:
    address: 0.0.0.2
    debug: false
    monitor_port: 0
    password: &nats_password nats_password
    port: 4222
    prof_port: 0
    trace: false
    user: &nats_user nats_user
  nfs_server:
    address: 0.0.0.3
    allow_from_entries:
    - null
    - null
    share: null
    share_path: /var/vcap/nfs
  request_timeout_in_seconds: 900
  router:
    tweak_proc_sys: false
    cipher_suites: TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA:TLS_RSA_WITH_AES_128_CBC_SHA
    enable_ssl: true
    extra_headers_to_log: null
    logrotate:
      freq_min: 20
      rotate: 5
      size: 3M
    requested_route_registration_interval_in_seconds: null
    route_service_secret: null
    route_service_timeout: null
    secure_cookies: null
    ssl_skip_validation: null
    skip_oauth_tls_verification: null
    status:
      password: router_password
      user: router_user
  smoke_tests:
    suite_name: CF_SMOKE_TESTS
    api: api.((DOMAIN))
    apps_domain: [ ((DOMAIN)) ]
    user: ((CLUSTER_ADMIN_USERNAME))
    password: ((CLUSTER_ADMIN_PASSWORD))
    org: smoke-test-org
    space: smoke-test-space
    use_existing_org: false
    use_existing_space: false
    logging_app: ""
    runtime_app: ""
    skip_ssl_validation: true
  ssl:
    # TODO: Default to false, and place our generated CA cert
    # into the appropriate /usr/share/ca-certificates folders
    # and call update-ca-certificates at container startup
    skip_cert_verify: true
  support_address: http://support.cloudfoundry.com
  syslog_daemon_config: null
  syslog_drain_binder:
    tweak_locked_memory: false
  system_domain: example.com
  system_domain_organization: null
  traffic_controller:
    tweak_locked_memory: false
  uaa:
    admin:
      client_secret: admin_secret
    authentication:
      policy:
        countFailuresWithinSeconds: null
        lockoutAfterFailures: null
        lockoutPeriodSeconds: null
    batch:
      password: batch_password
      username: batch_username
    catalina_opts:
      "-Xmx768m -XX:MaxPermSize=256m"
    cc:
      client_secret: cc_client_secret
    clients:
      app-direct:
        secret: app-direct_secret
      cf-usb:
        authorities: cloud_controller.admin,usb.management.admin
        authorized-grant-types: client_credentials
        scope: usb.management.admin
        secret: cf-usb_secret
      cc-service-dashboards:
        authorities: clients.read,clients.write,clients.admin
        authorized-grant-types: client_credentials
        scope: openid,cloud_controller_service_permissions.read
        secret: cc-broker-secret
      cc_routing:
        authorities: routing.router_groups.read
        authorized-grant-types: client_credentials
        secret: cc_routing_secret
      cf:
        access-token-validity: 600
        authorities: uaa.none
        authorized-grant-types: implicit,password,refresh_token,client_credentials
        autoapprove: true
        override: true
        refresh-token-validity: 2592000
        scope: cloud_controller.read,cloud_controller.write,openid,password.write,cloud_controller.admin,scim.read,scim.write,doppler.firehose,uaa.user,routing.router_groups.read

      cloud_controller:
        authorized-grant-types: client_credentials
        authorities: scim.read,scim.write,password.write
        id: cloud_controller
        secret: "cc_client_secret"
        access-token-validity: 604800

      cloud_controller_username_lookup:
        authorities: scim.userids
        authorized-grant-types: client_credentials
        secret: cloud_controller_username_lookup_secret
      developer_console:
        secret: developer_console_secret
      doppler:
        authorities: uaa.resource
        override: true
        secret: doppler_secret
      gorouter:
        authorities: clients.read,clients.write,clients.admin,route.admin,route.advertise
        authorized-grant-types: client_credentials,refresh_token
        scope: openid,cloud_controller_service_permissions.read
        secret: gorouter_secret
      login:
        authorities: oauth.login,scim.write,clients.read,notifications.write,critical_notifications.write,emails.write,scim.userids,password.write
        authorized-grant-types: authorization_code,client_credentials,refresh_token
        autoapprove: true
        override: true
        redirect-uri: https://login.example.com
        scope: openid,oauth.approvals
        secret: login_client_secret
      notifications:
        authorities: cloud_controller.admin,scim.read
        authorized-grant-types: client_credentials
        secret: notification_secret
      ssh-proxy:
        authorized-grant-types: authorization_code
        autoapprove: true
        override: true
        redirect-uri: /login
        scope: openid,cloud_controller.read,cloud_controller.write
        secret: ssh-proxy_secret
      tcp_emitter:
        authorities: routing.routes.write,routing.routes.read
        authorized-grant-types: client_credentials,refresh_token
      tcp_router:
        authorities: routing.routes.read
        authorized-grant-types: client_credentials,refresh_token
    database:
      abandoned_timeout: 600
      log_abandoned: true
      max_connections: 100
      max_idle_connections: 10
      remove_abandoned: true
    issuer: https://uaa.example.com
    jwt:
      signing_key: sk
      verification_key: vk
    ldap: null
    login: null
    newrelic: null
    no_ssl: false
    require_https: null
    ssl:
      port: 8443
    restricted_ips_regex: 10\.\d{1,3}\.\d{1,3}\.\d{1,3}|192\.168\.\d{1,3}\.\d{1,3}|169\.254\.\d{1,3}\.\d{1,3}|127\.\d{1,3}\.\d{1,3}\.\d{1,3}|172\.1[6-9]{1}\.\d{1,3}\.\d{1,3}|172\.2[0-9]{1}\.\d{1,3}\.\d{1,3}|172\.3[0-1]{1}\.\d{1,3}\.\d{1,3}
    scim:
      external_groups: null
      userids_enabled: true
      users: []
      user:
        override: true
    spring_profiles: null
    url: https://uaa.example.com
    user: null
    zones: null
  uaadb:
    databases:
    - name: uaadb
      tag: uaa
    db_scheme: mysql
    port: 3306
    roles:
    - name: uaaadmin
      password: admin_password
      tag: admin
  cf_mysql:
    proxy:
      healthcheck_timeout_millis: 30000
