[Unit]
Requires=data.mount
After=data.mount
# network.target makes no sense here, but it seems to be after `/data` mounts
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/mkdir -p /data/hostpath

[Install]
WantedBy=tmp-hostpath_pv.mount
