{{- if .Values.ingress.enabled -}}
---
apiVersion: "v1"
kind: "Secret"
type: kubernetes.io/tls
metadata:
  name: "ingress-tls"
  namespace: {{ .Release.Namespace | quote }}
data:
  tls.crt: {{ .Values.ingress.tls.crt | default "" | b64enc | quote }}
  tls.key: {{ .Values.ingress.tls.key | default "" | b64enc | quote }}
---
apiVersion: "extensions/v1beta1"
kind: "Ingress"
metadata:
  name: {{ .Release.Name | quote }}
  namespace: {{ .Release.Namespace | quote }}
  annotations:
    {{- if empty (index .Values.ingress.annotations "kubernetes.io/ingress.class") }}
    kubernetes.io/ingress.class: "nginx"
    {{- end }}
    {{- if empty (index .Values.ingress.annotations "nginx.ingress.kubernetes.io/secure-backends") }}
    nginx.ingress.kubernetes.io/secure-backends: "true"
    {{- end }}
    {{- if empty (index .Values.ingress.annotations "nginx.ingress.kubernetes.io/backend-protocol") }}
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    {{- end }}
    {{- if empty (index .Values.ingress.annotations "nginx.ingress.kubernetes.io/ssl-redirect") }}
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    {{- end }}
    {{- if empty (index .Values.ingress.annotations "nginx.ingress.kubernetes.io/proxy-body-size") }}
    nginx.ingress.kubernetes.io/proxy-body-size: "8m"
    {{- end }}
    nginx.org/websocket-services: "router-gorouter-public"
{{- if not (empty .Values.ingress.annotations)}}
{{ toYaml .Values.ingress.annotations | indent 4 }}
{{- end }}
spec:
  tls:
  - secretName: "ingress-tls"
    hosts:
    - "*.{{ .Values.env.DOMAIN }}"
    - "{{ .Values.env.DOMAIN }}"
  rules:
    - host: "*.{{ .Values.env.DOMAIN }}"
      http:
        paths:
          - path: "/"
            backend:
              serviceName: "router-gorouter-public"
              servicePort: 443
    - host: "{{ .Values.env.DOMAIN }}"
      http:
        paths:
          - path: "/"
            backend:
              serviceName: "router-gorouter-public"
              servicePort: 443
{{- end }}
