openstack_availability_zone = "az1"
openstack_keypair = "<your keypair>"
openstack_network_id = "<your network id>"
openstack_network_name = "<your network name>"
key_file = "<your local private key file location>"

# Set this if you're deploying to us-west. us-east is the default.
# Possible values are: "us-west" and "us-east"
# openstack_region = "us-west"

# This will be your initial login to the system
cluster_admin_username = "<your username>"
cluster_admin_password = "<your password>"

# Set this to the number of DEA hosts you wish to create
dea_count = 1