openstack_availability_zone = "az1"
openstack_keypair = "<your keypair>"
openstack_network_id = "<your network id>"
openstack_network_name = "<your network name>"
key_file = "<your local private key file location>"

# Set this if you're deploying to us-west. us-east is the default.
# Those are the only valid values.
# openstack_region = "us-west"

router_ssl_cert_file = "foo" # will fill in later with actual cert location
router_ssl_key_file = "foo" # will fill in later with actual cert location
